# Node.js modules
node_modules/

# Logs
npm-debug.log
yarn-debug.log

# Fichiers de configuration de l'éditeur
.vscode/
.idea/

# Dossiers de build / compilation
dist/
build/

# Fichiers de cache
.cache/
.nyc_output/
coverage/

# Variables d'environnement
.env

# Système de fichiers
.DS_Store
Thumbs.db
